
@import url('https://fonts.googleapis.com/css?family=Cinzel|Nanum+Myeongjo');

/* font-family: 'Cinzel', serif;
font-family: 'Nanum Myeongjo', serif; */

body, html {
    height: 100%;
    font-family: 'Nanum Myeongjo', serif;
    background-color: rgb(141, 206, 176);
    margin: 0;
}
body{
    /* background-image: url("resources/PurpleCarpet.png"); */
    background-color: rgb(154, 206, 182);
    background-position: center;
    background-repeat: fixed;
    background-size: cover;
    margin: 0;
    }
.topnav {
    background-color: rgb(188, 186, 196);
    position: fixed;
    right: 0;
    left:0;
    z-index: 10;
    /* padding: 10px 16px; */
    padding-top: 4%;
    /* padding-bottom: 3%; */
    display: flex;
    justify-content: space-around;
    font-family: 'Cinzel', serif;
    margin: 0;
    height: 10%;
    
    }
    #home {
        /* color: rgb(1, 44, 31); */
        color: rgb(0, 26, 26);
        padding: 0;
    }
    #info{
        color: rgb(0, 26, 26);
        padding: 0;
    }
    #projects {
        color: rgb(0, 26, 26);
        padding: 0;
    }
    .portrait {
        max-height: 400px;
        max-width: 400px; 
        height: calc(80vw);
        width: 80vw;
        justify-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30pt;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .sticky + .content {
        padding-top: 102px;
    }
    .content {
        padding-top: 20%;
        padding-bottom: 10%;
        /* background-color: none; */
    }
    h1, h2, h3, h4, h5 {
        font-family: 'Cinzel', serif;
        text-align: center;
    }
    h6 {
        font-family: 'Nanum Myeongjo', serif;
    }
    .infoSection {
        padding-top: 5%;
        padding-bottom: 5%;
        
    }
    .infoSection h2 {
        font-size: 2em;
        background-color: rgba(255, 255, 255, 0.425);
    }
    .infoSection p {
        padding: 0 10% 0% 10%;
        font-family: 'Nanum Myeongjo', serif;
        background-color: rgba(0, 0, 0, 0.356);
        padding: 5%;
        
    }
    footer {
        width: 100vw;
        text-align: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.425);
        margin-top: 5%;

    } 
    p {
        font-size: 1.25em;
    }
    .projects {
        background-color: rgba(255, 255, 255, 0.226);
        display: block;
        align-items: center;
        justify-content: center;
    }
    .projects h6 {
        font-family: 'Nanum Myeongjo', serif;
        font-size: 1em;
        padding-right: 10%;
        padding-left: 10%;
        padding-bottom: 5%;
        padding-top: 0;
    }
    .projects h3 {
        /* padding: 0; */
        padding-top: 5%;
    }
    /* #projectsContainer {
        
    } */
    #projectsContainer h2 {
        font-size: 2em;
        padding-bottom: 3%;
        margin-bottom: 3%;
        background-color: rgba(255, 255, 255, 0.459);
    }
    /* #projectsContainer h6 {
        /* font-family: 'Nanum Myeongjo', serif;
        font-size: 1em; */
    /* }  */
    .galaxyScreenShot {
        background-image: url("resources/GalaxyScreenShot.png");
        height: 170px;
        width: 300px;
        background-size: cover;
        background-position: center;
        display: block;
        z-index: 3;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10%;
    }
    .weatherScreenShot {
        background-image: url("resources/WeatherScreenShot.png");
        height: 200px;
        width: 300px;
        background-size: cover;
        background-position: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #galaxyContainer {
        background-color: rgba(0, 0, 0, 0.212);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }
    #weatherContainer {
        background-color: rgba(0, 0, 0, 0.212);
        /* display: inline; */
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }
    @media only screen and (max-width: 600px) {
        .topnav {
            padding: 10px 16px;
            /* background: #555; */
            background-color: rgba(255, 255, 255, 0.226);
            padding-top: 3%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Cinzel', serif;
            margin: 0;
            height: 10%;
        
        }
      }
   